// Contient les resets, variables, mixins et autres utilitaires
$color-primary:#f9f1d8;
$font-color:white;
$font-color-subtitle:#F0A868;
$box-color:#e3f09b;
$border-color:#F0A868;
$footer-nav-color:#EDD382;
$background-image:white;