/* Contient tous les éléments réutilisables comme les boutons,blocks BEM,etc .*/

.header {
    &__logo {
        &__lien {
            height: auto;
        }
        &__img {
            height: auto;
        }
    }
    &__title {
        width: 100%;
        font-family: 'Homemade Apple', cursive;
        font-size: 1rem;
        color: $font-color;
        background-color: $footer-nav-color;
        text-shadow: $text-shadow;
    }
    &__menu {
        color: $font-color !important;
        width: 100%;
        font-family: 'Homemade Apple', cursive;
        font-size: 1rem;
        background-color: $footer-nav-color;
        text-shadow: $text-shadow;
        &:hover {
            font-size: 1.1rem;
        }
        &__main_item {
            width: 190px;
        }
        &--dropdown {
            justify-content: space-between;
            height: 100%;
            background-color: $border-color;
            color: $font-color;
            border: 1px solid $border-color;
            padding: 0 20px;
        }
        &__item {
            color: $font-color;
            font-family: 'Homemade Apple', cursive;
            text-shadow: $text-shadow;
            font-size: 0.8rem;
            &:hover {
                text-decoration: none;
                font-size: 0.9rem;
                background-color: $border-color;
                color: $font-color;
            }
        }
    }
}

.container {
    &__title {
        font-family: 'Finger Paint', cursive;
        color: $font-color;
        text-shadow: $text-shadow;
        font-size: 1.2rem;
        text-align: center;
        box-sizing: border-box;
        @media (min-width: 569px) and (max-width: 768px) {
            font-size: 1.6rem;
        }
        @media (min-width: 769px) {
            font-size: 2rem;
        }
    }
    &__subtitle {
        font-family: 'Homemade Apple', cursive;
        color: $font-color-subtitle;
        text-shadow: none;
        font-size: 0.8rem;
        @media (min-width: 569px) and (max-width: 768px) {
            font-size: 1rem;
        }
        @media (min-width: 769px) {
            font-size: 1.2rem;
        }
    }
    &__buttonpage {
        background-color: $footer-nav-color;
        border: 1px solid $border-color;
        color: $font-color;
        align-items: center;
        float: right;
        bottom: 0;
        text-decoration: none;
        &:hover {
            color: $font-color;
            text-decoration: none;
        }
    }
    &__list {
        list-style-type: none;
        justify-content: space-around;
        align-content: center;
        width: 100%;
    }
    &__img {
        margin: auto;
        height: 50px;
        @media (min-width: 569px) and (max-width: 768px) {
            height: 80px;
        }
        @media (min-width: 769px) {
            height: 90px;
        }
    }
    &__break {
        margin-bottom: 20px;
        text-align: center;
        background-color: $footer-nav-color;
        border-radius: 5px;
        border-style: initial;
        border: 1px solid $border-color;
        height: 40px;
        height: 40px;
        @media (min-width: 569px) and (max-width: 768px) {
            font-size: 1rem;
        }
        @media (min-width: 769px) {
            font-size: 1.2rem;
        }
        &:hover {
            font-size: 1.1rem;
        }
    }
    &--invisible {
        display: none;
    }
}

.about {
    &__img {
        filter: opacity(75%);
        border-radius: 50%;
        align-self: center;
        height: 200px;
        width: auto;
        @media (min-width: 569px) and (max-width: 768px) {
            height: 250px;
        }
        @media (min-width: 769px) {
            height: 300px;
        }
    }
    &__text {
        display: flex;
        align-items: center;
    }
    &__infos {
        text-align: center;
        width: 100px;
        @media (min-width: 569px) and (max-width: 768px) {
            width: 150px;
        }
        @media (min-width: 769px) {
            width: 200px;
        }
        &__text {
            font-size: 0.4rem;
            @media (min-width: 569px) and (max-width: 768px) {
                font-size: 0.8rem;
            }
            @media (min-width: 769px) {
                font-size: 1.2rem;
            }
        }
        &--zoom {
            transition: 0.3s ease-in-out;
            &:hover {
                transform: scale(1.3);
                transition: 0.3s ease-in-out;
                @media (min-width: 569px) and (max-width: 768px) {
                    transform: scale(1.2);
                }
                @media (min-width: 769px) {
                    transform: scale(1.05);
                }
            }
        }
    }
}

.projects {
    &__content {
        border: 1px solid $border-color;
    }
    &__color {
        background-color: $footer-nav-color;
    }
    &__logo {
        width: 100px;
        @media (min-width: 321px) and (max-width: 1024px) {
            width: 150px;
        }
    }
    &__text {
        text-align: center;
    }
}

.formation,
.experience {
    &__list {
        text-align: center;
    }
    &__item {
        list-style-type: none;
        &::before {
            content: "∞";
            padding-right: 8px;
            color: $footer-nav-color;
        }
    }
}

.projects {
    &__content {
        border: 1px solid $border-color;
    }
    &__color {
        background-color: $footer-nav-color;
    }
    &__logo {
        width: 100px;
        @media (min-width: 321px) and (max-width: 1024px) {
            width: 150px;
        }
    }
    &__text {
        text-align: center;
    }
}

.form {
    &__input {
        width: 100%;
    }
    &__button {
        display: flex;
        justify-items: center;
        color: $font-color;
        text-align: center;
        text-decoration: none;
        background-color: $footer-nav-color;
        border: 1px solid $border-color;
        width: 100%;
    }
    &__label {
        display: inline-block;
        width: auto;
        text-align: right;
    }
    &__input,
    &__textarea {
        font-size: 1rem;
        border: 1px solid $border-color;
        background-color: $color-primary;
        color: gray;
    }
    &__input {
        height: 50px;
    }
}

.footer {
    &__text {
        font-size: 0.6rem;
        text-shadow: $text-shadow;
        text-align: center;
        @media (min-width: 569px) and (max-width: 768px) {
            font-size: 0.7rem;
        }
        @media (min-width: 769px) {
            font-size: 0.8rem;
        }
    }
    &__button {
        color: $font-color;
        text-align: center;
        text-decoration: none;
        text-align: center;
        &:hover {
            color: $font-color;
            text-decoration: none;
        }
    }
}