// Contient le CSS propre à la disposition (header, footer..)
* {
    font-family: 'Cabin Sketch', cursive;
    color: $font-color;
    text-shadow: $text-shadow;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    opacity: 0;
    transition: opacity linear 1s;
    background-color: $color-primary;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__navtop {
        display: flex;
        width: 100%;
    }
    &__navbottom {
        text-align: center;
    }
}

.container {
    &__about,
    &__experience,
    &__formation,
    &__skills,
    &__projects,
    &__contact {
        font-size: 0.8rem;
        @media (min-width: 569px) and (max-width: 768px) {
            font-size: 0.9rem;
        }
        @media (min-width: 769px) {
            font-size: 1rem;
        }
    }
    &__boxcolor {
        background-color: $box-color;
        border-radius: 3%;
    }
    &__borderbox {
        border: 1px solid $border-color;
    }
    &__row {
        justify-content: center;
    }
}

.background__img {
    background-color: $background-image;
    border: 1px solid $border-color;
    border-radius: 5px;
    height: 85%;
}

.footer {
    background-color: $footer-nav-color;
    &__link {
        display: flex;
        justify-content: center;
    }
}